body {
    background-color: aqua;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
}

.mta {
    padding-left: 4rem;
}

img {
    width: 30%;
    display: block;
    float: left;
    height: 5rem;
}

.zadnji {
    display: block;
    clear: left;
}